/*Custom CSS*/

body {
    color:#131516;
    font-family: 'Open Sans', 'Work Sans', 'Tangerine', serif;
    font-size: 2rem;
    text-rendering: optimizeLegibility;
}
#about,#testresults,#crc-risk,#test-results,#userinfo,#crc-risk-results{
  font-size: 2rem;
}
/*.welcome {
  font-size: 1.5em;
}*/
#content {
    margin-top:100px;
}
.consent_form_title {
  text-align: center;
  font-size: 2rem;
}
.consent_form_body h5,ul{
  margin-left: 1%;
  margin-right: 1%;
  padding-left:1%;
/*  font-size: 1.42em;*/
}

.consent_form {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  overflow: scroll;
  height: 500px;
  font-size: 2rem;
  text-align: justify;

}
#content .jumbotron p{
    font-size: 2rem;
    /*text-align: center;*/
    /*background-color: white;*/
}
.panel-info {
  margin-top: 3%;
  font-size: 2rem;
}
.welcome-bnt {
    margin-left: 42%;
    font-size: 2rem;
}
.close_bnt {
  float: right;
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 2rem;
}
.consentform_bnt,.btn-info{
    text-align: center;
    font-size: 2rem;
}
.agree_bnt {
    text-align: center;
    font-size: 2rem;
    margin-left: 36%;
}
.img {
    background: url("../img/colon-cancer.jpg");
    height: 200px;
    margin-bottom: 0.5em;
}
#about .tab-pane {
    padding: 2em;
}

#about .tab-pane h4 {
    font-weight: 800;
}

#loading-bar {
  pointer-events: all;
  z-index: 99999;
  border: none;
  margin: 0px;
  padding: 5px;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  cursor: wait;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  color: #FFFFFF;
  font-size: 20px;
}

.form-container {
   padding-left: 10%;
   padding-right:  10%;
   margin-left: 10%;
   margin-right: 10%;
}
a.read-more, a.read-less {
  cursor: pointer;
  color: blue;
}
span.more-text {
  display: none;
}
span.more-text.show {
    display: inline !important
}
p.read_more_p {
  display: inline;
}
.crc_factors {
  margin-bottom: 1em;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
  padding-top: 3%;
}

.risk_result_left {
  width: 38%;
  margin-top: 1rem;
}

.risk_result_right {
  width: 62%;
  margin-top: 1rem;
}


.test_next_bnt {
  float: right;
  background-color: #657e65;
  color: #fff;
  font-size: 2rem;
}

.test_previous_bnt {
  float: left;
  background-color: #657e65;
  color: #fff;
  font-size: 2rem;
}
.test_startover_bnt{
  float: left;
  background-color: #657e65;
  color: #fff;
  font-size: 2rem;
  margin-left: 25%;
}
.submit_userinfo_bnt{
  float: left;
  background-color: #657e65;
  color: #fff;
  font-size: 2rem;
  margin-left: 40%;
}
