DEBUG = True
FACEBOOK_APP_ID = '1231231242343243'
FACEBOOK_APP_SECRET = '3c6d2c1asd6c8bae2asdfse342asd2'
SECRET_KEY = 'development'
FACEBOOK_APP_ACCESS_TOKEN = '1231231242343243|asds_2c-_asdfasdfawe4ew3c'